/* ========== App Styles ========== */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 17rem));
  gap: 1rem;
}

/* ========== Course Styles ========== */
.selected {
  background-color: rgb(243, 229, 246) !important;
  color: purple !important;
  border: 2px solid purple !important;
}

/* ========== Modal Styles ========== */

/* Modal overlay */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(169, 169, 169, 0.8); /* Background overlay */
  z-index: 9999; /* Ensures modal is on top */
}

/* When modal is shown */
.modal-show {
  visibility: visible !important;
  display: block !important;
  transition: opacity 0.2s ease;
}

/* Modal content positioning */
.modal-dialog {
  position: relative;
  margin: 10% auto; /* Centers the modal vertically */
  max-width: 600px; /* Set a max width */
  width: 90%;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.modal-show .modal-content {
  opacity: 1;
  transition: opacity 0.2s linear;
}

/* Modal header (for close button alignment) */
.modal-header {
  display: flex;
  justify-content: flex-end;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

